// out: ../css/home.css, sourcemap: true, compress: true

.banner {
  background: url(../img/home/banner.jpg) no-repeat center/cover;
  padding: 160px 0;
  .banner_intro {
    max-width: 545px;
    margin-left: 60px;
    border: 2px solid #fff;
    padding: 47px 80px;
    background: rgba(0, 0, 0, 0.55);
    text-align: center;
    color: #fff;
    h2 {
      font-size: 32px;
      text-transform: uppercase;
      margin-bottom: 30px;
      &:after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        margin: 20px auto 0;
        background: #fff;
      }
    }
    p {
      margin-bottom: 30px;
      font-size: 17px;
      line-height: 1.5;
    }
    .btn_red {
      display: block;
      width: 220px;
      margin: 0 auto;
      padding: 14px 5px;
      background: #ce181e;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
