// out: ../css/responsive.css, sourcemap: true, compress: true
@import "_mixin.less";
@desktop-width: 1360px;
@tablet-width: 768px;
@sp-width: 480px;
@media screen and (max-width: @desktop-width) {
  header {
    #nav_global {
      ul {
        padding-top: 25px;

        li {
          margin: 15px 0 3px;
        }
      }
    }
  }

  .direction {
    .direction_des {
      padding-top: 0;

      .postcode {
        text-align: center;
      }
    }
  }
}
//end desktop
@media screen and (max-width: @tablet-width) {
  .pc_appear {
    display: none;
  }

  .sp_appear {
    display: block;
  }

  h3.sub_tit {
    font-size: 27px;
    margin-bottom: 35px;
  }

  .banner-inner,
  .inner {
    max-width: 100%;
    padding: 0 10px;
  }

  header {
    display: block;

    #logo {
      float: none;
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      width: 100%;
      padding: 20px;
      background-color: #fff;
    }

    #nav_global {
      .nav_btn {
        display: block;
        height: 32px;
        width: 32px;
        position: fixed;
        z-index: 9999;
        top: 13px;
        right: 15px;

        span {
          display: block;
          height: 3px;
          background-color: #333;
          margin: 5px 0;
          position: relative;
          .transition(all, 100ms, ease-in);
        }
      }

      .nav_btn_actived {
        .midde {
          opacity: 0;
        }

        span {
          &:first-child {
            .transform(rotate(45deg));
            top: 8px;
          }

          &:last-child {
            .transform(rotate(-45deg));
            bottom: 8px;
          }
        }
      }

      ul {
        display: block;
        position: fixed;
        z-index: 9998;
        top: 30px;
        width: 100%;
        left: -100%;
        .transition(all, 0.5s, ease-out);

        li {
          padding: 5px 0 10px 50px;
        }

        &.nav_actived {
          background: rgba(230, 230, 230, 0.9);
          left: 0;
        }
      }
    }

    .tel {
      float: none;
      width: 50px;
      position: fixed;
      z-index: 99999;
      top: 0;
      left: 0;

      a {
        padding: 17px 5px;

        span {
          i {
            margin-left: 0;
          }
        }
      }
    }
  }
  /*-----------------------
  home
  -------------------------*/
  .banner {
    .banner_intro {
      margin: 0 auto;
      padding: 30px 20px;
    }
  }

  .direction {
    padding: 70px 0;

    .direction_des,
    figure {
      float: none;
      width: 100%;

      .office,
      .submit_btn {
        margin: 15px auto !important;
      }
    }
  }

  .dealer {
    padding: 70px 0;
  }
}
//end tablet
@media screen and (max-width: @sp-width) {
  .flex_box {
    display: block;
  }

  .sticky {
    width: 40px;

    li {
      a {
        width: 40px;
      }
    }
  }

  .footer_main {
    .footer_box {
      text-align: left !important;
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .cars {
    .cars_des {
      .cars_txt {
        margin: 10px 0;
      }
    }

    .valuation {
      .val_text {
        display: inline-block;
        margin-bottom: 5px;

        &:first-child {
          margin-right: 0;
        }
      }

      .submit_btn {
        margin: 10px auto;
      }
    }
  }

  .dealer {
    .flex_dealer {
      width: auto;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .video {
    .txt_intro {
      margin-left: 0;
    }
  }
}
//end sp
